div{
	width: 800px;
	height: 500px;
	background-color: greenyellow;
	margin: 50px auto;
	box-shadow: 3px 40px  10px 5px  rgba(0, 0, 0, 0.7),-3px -40px  30px 5px  rgba(0, 0, 0, 0.7);
	border-radius: 50% 50% 50% 50%;
	background-image: url(photo.jpg);
	background-size: cover;
	color: white;
	text-align: center;
	text-shadow: 5px 5px 10px rgba(76,253,0,1), -5px -5px 10px rgba(0,0,255,1);
    opacity: 0.3;
}
div p{
	padding: 130px;
	font-size: 80px;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

body{
	background-image: url(bintang.jpg);
	background-size: cover;
}